{% set img_src = img_src | default('../../images/svg/ILR-nickname-reversed.svg') %}
<div class="site-branding">
  {% include "@atoms/04-media/logos/logo.twig" with {
    img_src: img_src,
    img_alt: 'ILR Brand Book',
    img_url: '/',
    modifiers: ['nickname']
  }%}
</div><!-- /site-branding -->
