$white: white;
$black: #222;
$cornellian: #b31b1b;
$gray-lightest: ccc;
$gray-darker: lighten($black, 5%);
$gray: lighten($black, 25%);
$gray-light: lighten($gray, 10%);

$lighter-red: #ef4035;
$dark-blue: #073949;
$sage: #c9d6a5;
$army-tent: #bfb778;
$gray-green: #9fad9f;
$warm-grey: #d8d2c9;
$dark-gray-orange: #a2998b;
