// Menu Breakpoint
$main-menu-medium: 62em;

// Nav
.main-nav {
  display: none;

  @include breakpoint($main-menu-medium) {
    display: flex;
    margin-right: 3rem;
  }

  &--open {
    display: block;
    margin-top: 2rem;
  }
}

// UL
.main-menu {
  @include list-reset;

  background: $color-mobile-nav-bg;
  position: absolute;
  left: 1rem;
  width: 90%;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    position: relative;
    width: auto;
    background: transparent;
  }
}
