// Menu Breakpoint
$main-menu-medium: 62em;

#block-prism-main-menu {
  top: 0;

  z-index: 20000;
  background: $color-nav-bg;
  padding: 0;

  .adminimal-admin-toolbar & {
    top: $admin-toolbar-fix;
  }
}

// Nav
.main-nav {
  display: none;

  &--open {
    position: fixed;
    width: 100vw;
    top: 0;
    display: block;
    overflow-y: scroll;
    height: 100%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 2s;
  }
}

// UL
.main-menu {
  @include list-reset;

  padding-top: 5rem;
  background: $color-mobile-nav-bg;
  width: 100%;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    @include padding-trailer(0.4);

    position: relative;
    background: $color-nav-bg;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1.9rem;
  }

  &--sub {
    display: block;
    padding-top: 0;
  }
}
