// Menu Breakpoint
$main-menu-medium: 62em;

#block-prism-main-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20000;
  background: $color-nav-bg;

  .adminimal-admin-toolbar & {
    top: $admin-toolbar-fix;
  }
}

// Nav
.main-nav {
  display: none;

  &--open {
    display: block;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 2s;
  }
}

// UL
.main-menu {
  @include list-reset;

  background: $color-mobile-nav-bg;
  position: absolute;
  width: 90%;
  z-index: 10;
  padding-top: 1.9rem;

  @include breakpoint($main-menu-medium) {
    @include padding-trailer(0.4);

    position: relative;
    background: $color-nav-bg;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &--sub {
    display: inline-block;
    padding-top: 0;
  }
}
