// LI
.main-menu__item {
  position: relative;

  @include breakpoint($main-menu-medium) {
    display: block;
    text-align: right;
  }

  &:hover {
    .main-menu__link::after {
      color: $gray;
    }
  }
}
