// A
.main-menu__link {
  display: block;
  width: 100%;
  padding: 0.2rem 0;
  margin-bottom: 0;
  text-align: center;

  &:hover {
    color: $color-link--hover;
    text-decoration: none;
  }

  &--sub {
    border-top: 1px solid $color-subnav;
    color: $color-subnav;

    &:hover {
      color: $color-link;
      text-decoration: none;
    }
  }

  @include breakpoint($main-menu-medium) {
    display: inline-block;

    &--sub {
      border: none;
    }
  }
}
