// A
.main-menu__link {
  display: block;
  width: 100%;
  padding: 0.2rem 1rem;
  margin-bottom: 0;
  color: $color-nav;

  &:hover {
    color: $color-subnav;
  }

  &--sub {
    // border-top: 1px solid $color-subnav;
    color: $color-subnav;
    font-weight: 300;
    padding-left: 2rem;

    &:hover {
      color: $color-subnav;
      text-decoration: underline;
    }
  }

  @include breakpoint($main-menu-medium) {
    display: block;
    padding: 0.2rem 0;

    &--sub {
      border: none;
    }
  }
}
