{% set modifier = is_front ? '--front' : '--not-front' %}
<header class="header site-header site-header{{ modifier }}">
  <div class="site-header__wrapper">
    {% if pl %}
      {% include "@molecules/site-branding/site-branding.twig" %}
      {% include "@molecules/menus/main-menu/main-menu.twig" %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</header>
