@font-face {
  font-family: 'Replica';
  src: url('../fonts/Replica-Bold.eot');
  src:
    url('../fonts/Replica-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Replica-Bold.woff2') format('woff2'),
    url('../fonts/Replica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Replica';
  src: url('../fonts/Replica-Regular.eot');
  src:
    url('../fonts/Replica-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Replica-Regular.woff2') format('woff2'),
    url('../fonts/Replica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Replica';
  src: url('../fonts/Replica-Light.eot');
  src:
    url('../fonts/Replica-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Replica-Light.woff2') format('woff2'),
    url('../fonts/Replica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

