$admin-toolbar-fix: 3rem;

.logo__link {
  position: fixed;
  top: 1rem;
  display: inline-block;
  z-index: 100000;
  background: $white;
  height: 80px;
  width: 80px;

  .adminimal-admin-toolbar & {
    top: $admin-toolbar-fix;
  }

  &:hover,
  &.expanded {
    background: $black;

    #logo {
      fill: $white;
    }
  }
}
