$admin-toolbar-fix: 3rem;

.logo__link {
  // position: fixed;
  // top: 1rem;
  display: inline-block;
  z-index: 100000;
  background: $white;
  line-height: 1;

  height: 80px;
  width: 80px;

  .adminimal-admin-toolbar & {
    top: $admin-toolbar-fix;
  }

  &--reversed {
    background: $black;

    .logo__wrapper {
      background: $white;
    }
  }

  &:hover,
  &.expanded {
    background: $black;


    #logo {
      fill: $white;
    }
  }

  background: url('../components/images/svg/ilr-nickname2.svg') center center no-repeat;

  img {
    display: block;
    width: 100%;
    height: 100%;
    // max-width: 100px;
    visibility: hidden;
  }
}

.logo__wrapper {
  display: block;
  width: 100%;
}

.logo__link--reversed.logo__link--red {
  background: $cornellian;
}

.logo__link--wordmark {
  max-width: 400px;
  min-width: 300px;
  padding: 1rem 0;
  background: $white;

  img .nickname {
    visibility: hidden;
  }

  .logo__wrapper {
    // mask: url(../components/images/svg/ILR-wordmark.svg) no-repeat center;
    // mask-size: 80%;

    &:hover {
      background: white;
    }
  }

  &:hover {
    background: $black;
  }

  // &--masked {
  //   transition: clip-path 0.5s;
  //   clip-path: inset(0 0 0 0);
  // }
}

.logo__link--nickname {
  // max-width: 200px;
  // min-width: 100px;
  // height: auto;
  padding: 0;

  .logo__wrapper {
    // -webkit-mask: url(../components/images/svg/ILR-nickname.svg) no-repeat center;
    // mask: url(../components/images/svg/ILR-nickname.svg) no-repeat center;
    // -webkit-mask-size: 30%;
    // mask-size: 65%;

    &:hover {
      background: white;
    }
  }
}
