$admin-toolbar-fix: 3rem;

.logo__link {
  position: fixed;
  top: 1rem;
  display: inline-block;
  z-index: 100000;
  background: white;

  .adminimal-admin-toolbar & {
    top: $admin-toolbar-fix;
  }

  &--reversed {
    background: $black;

    .logo__wrapper {
      background: $white;
    }
  }

  &:hover {
    background: $black;
  }

  img {
    padding: 1.3rem 1rem;
    visibility: hidden;
  }
}

.logo__wrapper {
  background: $black;
  display: block;

  &:hover {
    background: white;
  }
}

.logo__link--reversed.logo__link--red {
  background: $cornellian;
}

.logo__link--wordmark {
  max-width: 400px;
  min-width: 300px;
  padding: 1rem 0;
  background: $white;

  .logo__wrapper {
    mask: url(../components/images/svg/ILR-wordmark.svg) no-repeat center;
    mask-size: 80%;

    &:hover {
      background: white;
    }
  }

  &:hover {
    background: $black;
  }

  &--masked {
    transition: clip-path 0.5s;
    clip-path: inset(0 0 0 0);
  }
}

.logo__link--nickname {
  max-width: 200px;
  min-width: 80px;
  padding: 0;

  .logo__wrapper {
    mask: url(../components/images/svg/ILR-nickname.svg) no-repeat center;
    mask-size: 65%;
    -webkit-mask: url(../components/images/svg/ILR-nickname.svg) no-repeat center;
    -webkit-mask-size: 30%;

    &:hover {
      background: white;
    }
  }
}
