<a id="toggle-expand" href="#" {{ bem('link', (modifiers), 'logo') }}>
  <?xml version="1.0" encoding="UTF-8"?>
  <svg id="logo" class="logo" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#231F20">
      <symbol id="nickname" fill-rule="nonzero" viewBox="0 0 155 123">
          <polygon id="Shape" points="151.64 110.61 12.36 110.61 12.36 110.61 11.42 109.67 11.4 109.68 11.4 12.3 12.3 11.4 84.67 11.4 85.56 10.51 85.56 0.88 84.69 0 0.87 0 0 0.87 0 121.16 0.85 122.01 151.63 122.01 152.54 121.11 152.54 111.51"></polygon>
          <polygon id="Shape" points="68.45 80.28 68.45 30.75 67.56 29.87 56.95 29.87 56.06 30.75 56.06 90.9 56.95 91.78 96.75 91.78 97.64 90.9 97.64 82.05 96.75 81.17 69.33 81.17"></polygon>
          <path d="M141.05,66.13 C148.13,64.36 154.32,58.13 154.32,48.44 C154.32,36.06 145.48,29.86 133.09,29.86 L103.9,29.86 L103.02,30.75 L103.02,90.89 L103.9,91.78 L114.52,91.78 L115.4,90.89 L115.4,67.89 L116.29,67 L125.13,67 L126.9,67.89 L144.59,90.89 L146.36,91.78 L151.67,91.78 L152.55,90.89 L152.55,82.05 L141.05,67.05 L141.05,66.13 Z M133.05,56.4 L116.28,56.4 L115.39,55.51 L115.39,41.32 L116.28,40.44 L133.08,40.44 C138.39,40.44 141.93,42.21 141.93,48.44 C141.93,54.67 138.4,56.4 133.09,56.4 L133.05,56.4 Z" id="Shape"></path>
          <polygon id="Shape" points="31.18 30.75 31.18 90.9 32.06 91.78 42.67 91.78 43.56 90.9 43.56 30.75 42.67 29.87 32.06 29.87"></polygon>
      </symbol>
      <use class="nickname" xlink:href="#nickname" x="15%" y="15%" width="70%" height="70%"/>
  </svg>
</a>
