$title-padding: 40px;

.title-screen__wrapper {
  // display: none;
  // position: fixed;
  width: 100vw;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  background: $black;
  padding: $title-padding;
  color: white;

  &.slide {
    max-width: 100vw;
    height: 90vh;
    border: none;
  }
}

.title-screen__frame {
  @include frame($width: 2vmin);

  height: 75vh;
  visibility: hidden;
}

.title-screen__heading {
  @include alt-heading;

  float: right;
  max-width: 40%;
  margin-top: 0;
}

.title-screen__section {
  position: absolute;
  bottom: 0;
  margin-left: $title-padding * 0.75;
  font-size: 3vmax;

  @include medium {
    bottom: $title-padding / 2;
    margin-left: $title-padding;
  }

  @include large {
    bottom: $title-padding * 1.5;
    margin-left: $title-padding * 3;
  }
}

.title-screen__wrapper--alt {
  background: $cornellian;
}
