//
// General Layout (example code)
//
html {
  background: $gray-light;//#9aa3af;
  position: relative;
}

body {
  background: $color-bg-body;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: -30px !important; // Fix for page bg color overflow

  &.cke_editable {
    margin: 0 !important;
    background: white;
    padding: 2rem 1rem;
  }
}

.main {
  @include wrapper;

  border-top: 1.1rem solid $cornellian;
}

.main-sidebar {
  @include large {
    @include grid-span(3,10);
    @include leader(2.5);
  }
}

.main-content {
  @include clearfix;

  padding: 0 $space;
  position: relative; // Prep for animation @see title-screen.js
  top: 5rem;

  .front & {
    top: 0;
  }
}
