//
// General Layout (example code)
//
html {
  background: $black;
  position: relative;
}

body {
  background: $color-bg-body;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: -30px !important; // Fix for page bg color overflow
}

.main {
  @include wrapper;
}

.main-sidebar {
  @include large {
    @include grid-span(3,10);
    @include leader(2.5);
  }
}

.main-content {
  @include clearfix;

  padding: 0 $space;
  position: relative; // Prep for animation @see title-screen.js
  top: 5rem;

  @include large {
    padding: 0;

    &--with-sidebar {
      @include grid-span(9,1);
    }
  }
}
