//
// General Layout (example code)
//

body {
  background: $color-bg-body;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  @include wrapper;
}

.main-sidebar {
  @include large {
    @include grid-span(3,10);
    @include leader(2.5);
  }
}

.main-content {
  @include clearfix;

  padding: 0 $space;
  position: relative; // Prep for animation @see title-screen.js
  top: 5rem;

  @include large {
    padding: $space-double 0 0;
    // border-top: 3px solid $color-border;

    &--with-sidebar {
      @include grid-span(9,1);
    }
  }
}
